*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #74EBD5;
background-image: -webkit-linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
background-image: -moz-linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
background-image: -o-linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

    
}

.card{
    width: 700px;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;

}

::-webkit-scrollbar-thumb{
    /* background-color: #333; */
      border-radius: 100px;

      background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}


